<select ng-model="source">
		<option value="">Select Source</option>
		<option value="NSW">NSW</option>
		<option value="LONDON">LONDON</option>
		<option value="NEW YORK">NEW YORK</option>
	</select>

	<select ng-model="destination">
		<option value="">Select Destination</option>
		<option value="NSW">NSW</option>
		<option value="LONDON">LONDON</option>
		<option value="NEW YORK">NEW YORK</option>
	</select>

	<!--datepicker date-format="MM/dd/yyyy">
		  <input ng-model="startDate"/>
	</datepicker>

	<datepicker>
		  <input ng-model="endDate" type="text"/>
	</datepicker-->

	<select ng-model="startTime">
		<option value="">Select Start Time</option>
		<option value="0100 hrs">0100 hrs</option>
		<option value="0200 hrs">0200 hrs</option>
		<option value="0300 hrs">0300 hrs</option>
		<option value="0400 hrs">0400 hrs</option>
		<option value="0500 hrs">0500 hrs</option>
		<option value="0600 hrs">0600 hrs</option>
	</select>

	<select ng-model="endTime">
		<option value="">Select End Time</option>
		<option value="0100 hrs">0100 hrs</option>
		<option value="0200 hrs">0200 hrs</option>
		<option value="0300 hrs">0300 hrs</option>
		<option value="0400 hrs">0400 hrs</option>
		<option value="0500 hrs">0500 hrs</option>
		<option value="0600 hrs">0600 hrs</option>
	</select>