<div style="padding: 40px;">


<select ng-model="sourceServiceType">
		<option value="">Source service type</option>
		<option value="HD">HD</option>
		<option value="MPEG4">MPEG4</option>
		<option value="AUDIO">AUDIO</option>
	</select>

	<select ng-model="destinationServiceType">
		<option value="">Destination service type</option>
		<option value="HD">HD</option>
		<option value="MPEG4">MPEG4</option>
		<option value="AUDIO">AUDIO</option>
	</select>

	Pre-provision for 30 mins with

	<input ng-model="colourBar" type="checkbox"/> Colour bars
	<input ng-model="recurringBooking" type="checkbox"/> Make Recurring Booking	

</div>
<div style="padding: 40px;">
	<select ng-model="sourceProcessing">
			<option value="">Source service type</option>
			<option value="Transcode">Transcode</option>
			<option value="MPEG4">MPEG4</option>
			<option value="Encode">Encode</option>
		</select>

		<select ng-model="destinationProcessing" >
			<option value="">Destination service type</option>
			<option value="Transcode">Transcode</option>
			<option value="MPEG4">MPEG4</option>
			<option value="Encode">Encode</option>
	</select>
</div>