<div style="padding: 40px;">
	<input ng-model="videoServicesCount" type=text placeholder="Number of Video Services"/>
	<input ng-model="dataServicesCount" type=text placeholder="Number of Data Services"/>
</div>

<div style="padding: 40px;">

	<input ng-show="showQuote" type="submit" value ="GET QUOTE"/>


	<div ng-hide="showQuote">
	Source :: {{source}}
	Destination :: {{destination}}
	Start time :: {{startTime}}
	End time :: {{endTime}}
	</div>
	<div ng-hide="showQuote">
	Source Service Type :: {{sourceServiceType}}
	Destination Service Type :: {{destinationServiceType}}
	Source Processing :: {{sourceProcessing}}
	Destination Processing :: {{destinationProcessing}}
	</div>
	<div ng-hide="showQuote">
	Number of video services :: {{videoServicesCount}}
	Number of data services :: {{dataServicesCount}}
	<br/>
	<em class="pull-right"><b>{{"Price Estimate : A$"+quote}}</b></em>
	<br>
	<br>
	<em class="pull-right"><button ng-hide="showQuote" ng-click="submitOrder()" >SUBMIT REQUEST</button></em>

	</div>
 </div>