<!doctype html>
<html lang="en" ng-app="telstraGBNApp">
<head>
  <meta charset="utf-8">
  <title>Telstra Booking</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angularjs-datepicker/src/css/angular-datepicker.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>


  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>
</head>
<body style="padding: 40px;">
	<h1>
		{{"Welcome to Testra Booking Service"}}
	</h1>
  

	<p>
		Please place your order.....
	</p>

	<form name="bookingForm" ng-submit="getQuote()" ng-controller="BookingController">

		<div style="padding: 40px;" first-page></div> 

		<second-page></second-page>

		<third-page></third-page>	

		<p style="padding: 40px;"> <b>{{PostDataResponse}}</b></p>

	</form>


</body>
</html>
